* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sidebar {
  height: calc(100vh - 80px);
}

.main {
  height: calc(100vh - 80px);
  overflow: scroll;
}

@media (min-width: 640px) {
  .main {
    width: calc(100vw - 224px);
    height: calc(100vh - 80px);
    overflow: scroll;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.control {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  margin: 5px;
  padding: 10px;
}

.btn-phone {
  background-color: #ff0000;
  color: #fff;
}

.btn-phone-active {
  background-color: #00ff00;
}

.join-room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}

.join-channel {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.join-channel.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.logo {
  width: 150px;
  height: auto;
}
